---
---
<!doctype html>
<html lang="en">
	<head>
		{% include header.html title="Home" %}
		<style>
		</style>
	</head>
	
	<body>
		<div class="wrapper">
			<!-- Nav -->
			{% include nav.html %}
			
			<main>
				<header>
				Home
				</header>
				
				<section>
					<p>
					Welcome to my website I guess.
					</p>
				</section>
				
				<section>
					<div>
					To see what this is all about, check out the <a href="/about/">about</a> page.
					</div>
					
					<div>
					Or don't, I don't really care.
					</div>
				</section>
			</main>
		</div>
		
		<footer>
		&copy; me I think
		</footer>
	</body>
</html>