<link rel="shortcut icon" href="favicons/qupgfavicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="favicons/qupgfavicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="favicons/qupgfavicon-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="favicons/qupgfavicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="favicons/qupgfavicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="favicons/qupgfavicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicons/qupgfavicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicons/qupgfavicon-16.png">
<link rel="apple-touch-icon" href="favicons/qupgfavicon-57.png">
<link rel="apple-touch-icon" sizes="114x114" href="favicons/qupgfavicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="favicons/qupgfavicon-72.png">
<link rel="apple-touch-icon" sizes="144x144" href="favicons/qupgfavicon-144.png">
<link rel="apple-touch-icon" sizes="60x60" href="favicons/qupgfavicon-60.png">
<link rel="apple-touch-icon" sizes="120x120" href="favicons/qupgfavicon-120.png">
<link rel="apple-touch-icon" sizes="76x76" href="favicons/qupgfavicon-76.png">
<link rel="apple-touch-icon" sizes="152x152" href="favicons/qupgfavicon-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="favicons/qupgfavicon-180.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="favicons/qupgfavicon-144.png">
<meta name="msapplication-config" content="favicons/browserconfig.xml">