/*changelog formatting*/
section#changelog > ul {
    border-top: 1px solid slategray;
    padding-top: 1rem;
    font-weight: bold;
}
section#changelog > ul:last-child {
    border-bottom: 1px solid slategray;
    padding-bottom: 1rem;
}
section#changelog * ul {
    padding-left: 2rem;
    font-weight: normal;
}
section#changelog > ul > li {
    list-style-image: url("/files/icons/event24px.svg");
}
section#changelog li.public {
    list-style-image: url("/files/icons/public24px.svg");
}
section#changelog li.public > ul > li {
    list-style-image: url("/files/icons/subdirectory_arrow_right24px.svg");
}
section#changelog li.person {
    list-style-image: url("/files/icons/person24px.svg");
}
section#changelog li.person > ul > li {
    list-style-image: url("/files/icons/subdirectory_arrow_right24px.svg");
}