---
---
<!doctype html>
<html lang="en">
	<head>
		{% include header.html title="Test1" %}
		<style>
		</style>
	</head>
	
	<body>
		<div class="wrapper">
			{% include nav.html %}
			
			<main>
				<header>
				Test 1
				</header>
				
				<section>
					<p>
					This is the "Test 1" page.
					</p>
				</section>
				
				<section>
					<div>
					I'll also use this page for new features.
					</div>
					
					<div>
					Hopefully I don't break anything.
					</div>
				</section>
			</main>
		</div>
		
		{% include footer.html %}
	</body>
</html>